<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "" %>
    <%= form.text_field :name, placeholder: :name %>
  </div>

  <div class="field">
    <%= form.label :icon, style: "" %>
    <%= form.text_field :icon, placeholder: :icon %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
