<nav class="navbar navbar-expand-lg bg-primary navbar-dark">

  <div class="d-flex justify-content-around" style='width: 100%;'>

    <%# Left side icon on the nav bar %>
    <div class=''>
      <% if @group_show_page || current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
        <%= link_to "â—", :back, class:'link-light', style:'' %>
      <% else %>
        <div class="" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">    </span>
        </div>
      <% end %>
    </div>

    <%# Word for the categor %>
    <div class="d-flex align-items-md-center">
      <% if @user_page %>
        <h5 class='text-white'>Index</h5>

      <% elsif @group_page %>
        <h5 class='text-white'>TRANSACTIONS</h5>

      <% elsif @group_show_page %>
        <h5 class='text-white'>Details</h5>

      <% elsif @movement_page %>
        <h3 class='text-white'>Movements</h3>

      <% else %>

        <% if current_page?(new_user_registration_path) %>
          <h5 class='text-white'>REGISTER</h5>

        <% elsif current_page?(new_user_session_path) %>
          <h5 class='text-white'>LOGIN</h5>

       <% end %>
      
      <% end %>
    </div>

    <%# Right side icon on the nav bar %>
    <div>
      <% if current_page?(new_user_session_path) %>
        <%= link_to 'Log in', new_user_session_path, class: 'link-light' %>
      <% elsif current_page?(new_user_registration_path) %>
        <%= link_to 'Next', new_user_session_path, class: 'link-light' %>
      <% else %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'sign_out_btn' %>
      <% end %>
    </div>
  </div>

  <%# Conten hamburguer button menu %>
  <div>
  
    <% if user_signed_in? %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div class= "navbar-brand mx-0">
          <h4 class="text-white mx-0">Welcome <%= current_user.name %></h4>
        </div>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
          </li>
        </ul>

        <ul class="d-flex navbar-nav mb-lg-0">
          <li class="nav-item">
          </li>
          <li class="nav-item">
          </li>
        </ul>

      </div>

    <% else %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="d-flex navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class:"nav-link"%>
            </li>
        </ul>

      </div>

    <% end %>
  </div>
</nav>